---
layout: default
---

{% for post in paginator.posts %}
  <article>

    <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
    {% include author.html %}
    <hr>
    <div class="row">
      <div class="six columns">
        {% if post.abstract %}
          <p>{{post.abstract}}</p>
        {% else %}
          {{post.content}}
        {% endif %}
      </div>

      {% if post.image == '' or post.image contains "example.com" %}
      {% else %}
        <div class="six columns">
          <a class="th" href="{{site.baseurl}}{{post.url}}" title="{{post.title}}">
            <img src="{{ post.image }}" />
          </a>
        </div>
      {% endif %}

    </div>
    <a href="{{site.baseurl}}{{post.url}}" class="button medium">Read more &rarr;</a>
  </article>
  <hr/>
{% endfor %}

<div id="pagination">
  <ul class="pagination">

    {% if paginator.previous_page %}
      <li class="previous">
        {% if paginator.previous_page == 1 %}
          <a href="{{site.baseurl}}/">&laquo;</a>
        {% else %}
          <a href="{{site.baseurl}}/page{{paginator.previous_page}}/">&laquo;</a>
        {% endif %}
      </p>
    {% else %}
      <li class="previous unavailable">
        <span>&laquo;</span>
      </li>
    {% endif %}

    <li class="page {% if paginator.page == 1 %}current{% endif %}">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="{{site.baseurl}}/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page {% if count == paginator.page %}current{% endif %}">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="{{site.baseurl}}/page{{count}}/">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}

    {% if paginator.next_page %}
      <li class="next">
        <a href="{{site.baseurl}}/page{{paginator.next_page}}/">&raquo;</a>
      </li>
    {% else %}
      <li class="next unavailable">
        <span>&raquo;</span>
      </li>
    {% endif %}
  </ul>

</div>

