---
layout: default
---

{% for post in site.posts limit:3 offset:0 %}
  <article>

    <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
    <h6>Written by <a href="#">{{post.author}}</a> on {{  post.date | date: "%B %d, %Y" }}.</h6>

    <div class="row">
      <div class="six columns">
        {{post.abstract}}
      </div>

      {% if post.image %}
        <div class="six columns">
          <img src="{{ post.image }}" />
        </div>
      {% endif %}

    </div>
    <a href="{{site.baseurl}}{{post.url}}" class="button medium">Read more &rarr;</a>
  </article>
  <hr/>
{% endfor %}

