/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.try-procedureus {
    text-align: center;
    margin-top: 20px;
}

#pagination ul.pagination {
    text-align: center;
}
#pagination ul.pagination li {
    float: none;
    display:inline-block;
}

#pagination ul.pagination li a{
    color: #2BA6CB;
}

body {
  background: white url(http://www.whit.com.au/static/images/texture.jpg) repeat;
}

h1 small {
  display: block;
  line-height: 1.2;
  font-size: 0.4em;
}

#content {
  background: #fff;
  border: 1px solid #d4d4cb;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  padding-bottom: 10px;
}

/* -----------------------------------------
   Posts
----------------------------------------- */

img.author {
  border-radius: 50%;
  margin-bottom: 10px;
}
article {
  margin-bottom: 100px;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


