---
---
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% if page.title %}{{page.title}}{% else %}Productivity tips to grow your business{% endif %} SweetProcess Blog</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css">

  <script src="{{site.baseurl}}/javascripts/modernizr.foundation.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13008285-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("2b8da0e15de42d433fb0ad69b4688464");
</script>
</head>
<body>

  <!-- Nav Bar -->

  <div class="row">
    <div class="twelve columns">
      <h1>
        <a href="{{site.baseurl}}/">
        <img src="https://static-procedureus.s3-us-west-1.amazonaws.com/site_media/static/images/logo-only.png"
             alt="SweetProcess" width="60px" height="49px">
          SweetProcess Blog <small>productivity tips to grow your business</small>
        </a>
      </h1>
    </div>
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div id="content" class="nine columns" role="content">
      {{ content }}
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="three columns">

      <div class="signup panel radius">
        <!-- Begin MailChimp Signup Form -->
        <h5>Start automating your business</h5>
        <div id="mc_embed_signup">
        <form action="http://procedureus.us2.list-manage1.com/subscribe/post?u=857ca3aa9499c6c0278cf0abc&amp;id=4adb6ff635" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  <div class="clear"><input type="submit" value="Get tips &rarr;" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>

<!--End mc_embed_signup-->
      </div>
      <h5>Recent Posts</h5>
      <ul class="side-nav">
      {% for post in site.posts limit:5 offset:0 %}
        <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
      {% endfor %}
      </ul>
      <hr/>

      <div class="try-procedureus">
        <a href="/" class="button primary large">Try SweetProcess</a>
      </div>
      <hr/>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright whit. 2012.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="/">Try SweetProcess</a></li>
            <li><a href="{{site.baseurl}}/">Blog</a></li>
            <li><a href="/procedures/">Example Procedures</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="{{site.baseurl}}/javascripts/jquery.js"></script>
  <script src="{{site.baseurl}}/javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="{{site.baseurl}}/javascripts/app.js"></script>

  <script type="text/javascript">mixpanel.track("Blog");</script>
</body>
</html>
